<%- include('./layouts/header') %>


	<!-- container -->
	<main class="px-7 sm:px-10 md:px-28 lg:px-32 bg-red-200">
		<section  class="pb-32 md:pt-52 sm:pt-44 pt-36 ">
			<h1 class="pr-12 text-4xl font-semibold leading-relaxed lg:text-5xl lg:leading-snug selected:bg-black selected:text-slate-200">Sebuah platform untuk anda yang suka mencurahkan pikiran melalui tulisan.</h1>
			<p class="pr-20 xl:pr-[30rem] mt-5">Lorem ipsum dolor sit amet consectetur adipisicing eli  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque voluptate.</p>
			<div class="buttons mt-7">
					<a href="#" class="py-3 border rounded-lg shadow-lg px-7 border-slate-200 hover:bg-black hover:text-slate-200 hover:border-none" target="blank">Get Started ></a>
					<a href="https://github.com/Re-Kun" class="px-6 py-3 ml-3 bg-black rounded-lg shadow-lg text-slate-200 hover:bg-white hover:text-black hover:border hover:border-slate-200">Github</a>
			</div>
		</section>	
		
		<div>
			<h1 class="pt-32 pb-24 text-4xl text-center">Latest Post</h1>
			<div class="grid gap-2 xl:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 ">
				
				<div class="w-[95%] md:mx-auto sm:mx-36">
					<div class="max-w-sm mb-5 rounded-lg ">
						<div>
							<img class="object-cover h-48 rounded-lg w-96" src="img/art-design-4.jpg" alt="">
						</div>
						<div class="p-5 mt-3 bg-white border border-gray-200 shadow-md">
							<div class="grid grid-cols-4 gap-4 mb-2">
								<div class="px-2 py-1 text-center rounded-md bg-slate-200 text-slate-500">Ikan</div>
							</div>
							<a href="#">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
							</a>
							<p class="mb-3 font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

						</div>
					</div>
				</div>

				<div class="w-[95%] md:mx-auto sm:mx-36">
					<div class="max-w-sm mb-5 rounded-lg ">
						<div>
							<img class="object-cover h-48 rounded-lg w-96" src="img/art-design-4.jpg" alt="">
						</div>
						<div class="p-5 mt-3 bg-white border border-gray-200 shadow-md">
							<div class="grid grid-cols-4 gap-4 mb-2">
								<div class="px-2 py-1 text-center rounded-md bg-slate-200 text-slate-500">Ikan</div>
							</div>
							<a href="#">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
							</a>
							<p class="mb-3 font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

						</div>
					</div>
				</div>

				<div class="w-[95%] md:mx-auto sm:mx-36">
					<div class="max-w-sm mb-5 rounded-lg ">
						<div>
							<img class="object-cover h-48 rounded-lg w-96" src="img/art-design-4.jpg" alt="">
						</div>
						<div class="p-5 mt-3 bg-white border border-gray-200 shadow-md">
							<div class="grid grid-cols-4 gap-4 mb-2">
								<div class="px-2 py-1 text-center rounded-md bg-slate-200 text-slate-500">Ikan</div>
							</div>
							<a href="#">
								<h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Noteworthy technology acquisitions 2021</h5>
							</a>
							<p class="mb-3 font-normal text-gray-700">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

						</div>
					</div>
				</div>
				
			</div>
		</div>
	</main>
<%- include('./layouts/footer') %>
